<%- include('partials/header') %>
<div class="row justify-content-center">


<div class="card justify-content-center text-center w-50">
  <h5 class="card-header"><%= book.title %></h5>
  <h5 class="card-title">Author: <%= book.author %> </h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Written: <%= book.year_written %></li>
    <li class="list-group-item">Edition: <%= book.edition %></li>
    <li class="list-group-item">Price: $<%= book.price %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"> </p>
    <a href="/edit" class="btn btn-primary mb-2">Edit Book</a>
    <a href="/books" class="btn btn-primary mb-2">Home</a>
  </div>
  <img class ="card-img-bottom" src="<%= book.image %>" alt="<%= book.title %>">
</div>
</div>
<%- include('partials/footer') %>
